 <!-- About Start -->
<div class="container-fluid about py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-5">
                <div class="h-100" style="border: 50px solid; border-color: transparent #13357B transparent #13357B;">
                    <img src="~/travela-1.0.0/img/blog-2.jpg" class="img-fluid w-100 h-100" alt="">
                </div>
            </div>
            <div class="col-lg-7" style="background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(img/about-img-1.png);">
                <h5 class="section-about-title pe-3">Hakkımızda</h5>
                <h1 class="mb-4" >Keşif Yolculuğu <span class="text-primary">Sayfamıza Hoşgeldiniz</span></h1>
                <p class="mb-4">Keşif Yolculuğu, seyahat etmeyi tutku haline getirenler için özel olarak tasarlanmış bir tur ve keşif platformudur. Amacımız, dünyanın dört bir yanındaki güzellikleri keşfetmek isteyen gezginlere, kişiselleştirilmiş ve unutulmaz seyahat deneyimleri sunmaktır. Doğa tutkunları, tarih meraklıları, macera arayışında olanlar ve dinlenme zamanı isteyen herkes için özenle hazırlanmış turlarımızla, her gezginin farklı ihtiyaçlarını karşılamayı hedefliyoruz.</p>
                <p class="mb-4">
                    Ekibimiz, seyahatin sadece bir yer değiştirme değil, aynı zamanda bir keşif yolculuğu olduğuna inanıyor. Bu yüzden size en iyi rehberlerle, en özgün rotalarla ve unutulmaz anılarla dolu turlar sunuyoruz. Keşif Yolculuğu ile her adımınız yeni bir hikaye, her yolculuğunuz ise unutulmaz bir macera olacak.
                    Dünyayı birlikte keşfetmeye var mısınız?
                </p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Özel Rotalar ve Keşifler</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Butik ve Lüks Oteller</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Unutulmaz Deneyimler</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Konforlu ve Güvenli Ulaşım</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Yerel Rehberlerle Keşif</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>7/24 Destek ve Hizmet</p>
                    </div>
                </div>
                <a class="btn btn-primary rounded-pill py-3 px-5 mt-2" href="">Daha Fazla </a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->