@model List<ResultDestinationTemaDto>
<div class="container-fluid destination py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">Kategoriler</h5>
            <h1 class="mb-0">Popüler Kategoriler</h1>
        </div>
        <div class="tab-class text-center">

            <div class="tab-content">
                <div id="NationalTab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        @foreach(var item in Model)
                        {
                            <div class="col-md-6 col-lg-4">
                                <div class="national-item">
                                    <img src="@item.ImageUrl" class="img-fluid w-100 rounded" alt="Image" style="width: 100%; height: 300px; object-fit: cover;">
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

