  <!-- Footer Start -->
<div class="container-fluid footer py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="footer-item d-flex flex-column">
                    <h4 class="mb-4 text-white">İletişime Geçin</h4>
                    <a href=""><i class="fas fa-home me-2"></i> 123 , Türkiye</a>
                    <a href="">
                        <i class="fas fa-envelope me-2"></i> KeşifYolculuğu@gmail.com
                    </a>
                    <a href=""><i class="fas fa-phone me-2"></i> +012 345 67890</a>
                    <a href="" class="mb-3"><i class="fas fa-print me-2"></i> +012 345 67890</a>
                    <div class="d-flex align-items-center">
                        <i class="fas fa-share fa-2x text-white me-2"></i>
                        <a class="btn-square btn btn-primary rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn-square btn btn-primary rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn-square btn btn-primary rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                        <a class="btn-square btn btn-primary rounded-circle mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="footer-item d-flex flex-column">
                    <h4 class="mb-4 text-white">Tur Şirketimiz</h4>
                    <a href=""><i class="fas fa-angle-right me-2"></i> Hakkımızda</a>
                    <a href=""><i class="fas fa-angle-right me-2"></i> Kategoriler</a>
                    <a href=""><i class="fas fa-angle-right me-2"></i> Turlar</a>
                    <a href=""><i class="fas fa-angle-right me-2"></i> Galerimiz</a>
                    <a href=""><i class="fas fa-angle-right me-2"></i> Abone Ol</a>
                    <a href=""><i class="fas fa-angle-right me-2"></i> Rezerve Yap</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="footer-item d-flex flex-column">
                    <h4 class="mb-4 text-white">Support</h4>
                    <a href=""><i class="fas fa-angle-right me-2"></i> İletişim</a>
                    <a href=""><i class="fas fa-angle-right me-2"></i> Yasal Uyarı</a>
                    <a href=""><i class="fas fa-angle-right me-2"></i> Gizlilik Politikası</a>
                    <a href=""><i class="fas fa-angle-right me-2"></i> Şartlar ve Koşullar</a>
                    <a href=""><i class="fas fa-angle-right me-2"></i> Site Haritası</a>
                    <a href=""><i class="fas fa-angle-right me-2"></i> Çerez Politikası</a>
                </div>
            </div>
          
        </div>
    </div>
</div>
<!-- Footer End -->
<!-- Copyright Start -->
<div class="container-fluid copyright text-body py-4">
    <div class="container">
        <div class="row g-4 align-items-center">
            <div class="col-md-6 text-center text-md-end mb-md-0">
                <i class="fas fa-copyright me-2"></i><a class="text-white" href="#">Keşif Yolculuğu</a>, Tüm Hakları Saklıdır.
            </div>
            <div class="col-md-6 text-center text-md-start">
                <!--/*** This template is free as long as you keep the below author’s credit link/attribution link/backlink. ***/-->
                <!--/*** If you'd like to use the template without the below author’s credit link/attribution link/backlink, ***/-->
                <!--/*** you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". ***/-->
                Designed By <a class="text-white" href="https://htmlcodex.com">HTML Codex</a> Distributed By <a href="https://themewagon.com">ThemeWagon</a>
            </div>
        </div>
    </div>
</div>
        </div>
<!-- Copyright End -->
<!-- Back to Top -->
<a href="#" class="btn btn-primary btn-primary-outline-0 btn-md-square back-to-top"><i class="fa fa-arrow-up"></i></a>
