@model List<Travelaa.WebUI.Dtos.GaleriDto.ResultGaleriDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/AdminLayout.cshtml";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
          
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="card-title">
                           Galerimiz
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            @foreach(var item in Model)
                            {
                                <div class="col-sm-2">
                                    <a href="https://via.placeholder.com/1200/FFFFFF.png?text=1" data-toggle="lightbox" data-title="sample 1 - white" data-gallery="gallery">
                                        <img src="@item.GaleriUrl" class="img-fluid mb-2" alt="white sample" />
                                    </a>
                                </div>
                            }
                           
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

