@model List<ResultTurTemaDto>
<div class="container-fluid ExploreTour py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">Turları Keşfet</h5>
            <h1 class="mb-4">Dünyayı Keşfet</h1>
            <p class="mb-0">
                Dünya, keşfedilmeyi bekleyen sayısız güzellik ve macera ile dolu. Kendinizi yeni kültürlere, eşsiz manzaralara ve unutulmaz deneyimlere açmanın tam zamanı! Dağlardan denizlere, tarihi şehirlerden doğanın kalbine uzanan yolculuklarla her köşesinde sizi şaşırtacak bir dünya var. Keşif Yolculuğu ile hayalini kurduğunuz destinasyonlara adım atın, unutulmaz anılar biriktirin ve her anı dolu dolu yaşayın. Dünyayı keşfetmek, yeni bir hikaye yazmak için bizimle yola çıkın!
            </p>
        </div>
        <div class="tab-class text-center">
          
            <div class="tab-content">
                <div id="NationalTab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        @foreach(var item in Model)
                        {
                            <div class="col-md-6 col-lg-4">
                                <div class="national-item">
                                    <img src="@item.ImageUrt" class="img-fluid w-100 rounded" alt="Image" style="width: 100%; height: 300px; object-fit: cover;">
                                    <div class="national-content">
                                        <div class="national-info">
                                            <h5 class="text-white text-uppercase mb-2">@item.description</h5>
                                            
                                        </div>
                                    </div>
                                    <div class="national-plus-icon">
                                        <a href="#" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                                    </div>
                                </div>
                            </div>
                        }
                       
                      
                    </div>
                </div>
              
            </div>
        </div>
    </div>
</div>
<!-- Explore Tour Start -->