<div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-info">
        <div class="inner">
            <h3>@ViewBag.CategoryCount</h3>

            <p>Kategori Sayısı</p>
        </div>
        <div class="icon">
            <i class="ion ion-bag"></i>
        </div>
        <a href="/AdminCategory/Index/" class="small-box-footer">Kategori Sayfasına Git <i class="fas fa-arrow-circle-right"></i></a>
    </div>
</div>
<!-- ./col -->
<div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-success">
        <div class="inner">
            <h3>@ViewBag.ContactCount</h3>

            <p>Mesaj Sayısı</p>
        </div>
        <div class="icon">
            <i class="ion ion-stats-bars"></i>
        </div>
        <a href="/AdminMesaj/Index/" class="small-box-footer">Mesaj Detayları Sayfasına Git <i class="fas fa-arrow-circle-right"></i></a>
    </div>
</div>
<!-- ./col -->
<div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-warning">
        <div class="inner">
            <h3>@ViewBag.AdminCount</h3>

            <p>Admin Sayısı</p>
        </div>
        <div class="icon">
            <i class="ion ion-person-add"></i>
        </div>
        <a href="/Admin/Index/" class="small-box-footer">Admin Sayfasına Git <i class="fas fa-arrow-circle-right"></i></a>
    </div>
</div>
<!-- ./col -->
<div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-danger">
        <div class="inner">
            <h3>@ViewBag.DestinationCount</h3>

            <p>Tur Sayısı</p>
        </div>
        <div class="icon">
            <i class="ion ion-pie-graph"></i>
        </div>
        <a href="/AdminTur/Index/" class="small-box-footer">Tur Sayfasına Git <i class="fas fa-arrow-circle-right"></i></a>
    </div>
</div>