 <!-- Tour Booking Start -->
<div class="container-fluid booking py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <h5 class="section-booking-title pe-3">Rezervasyon</h5>
                <h1 class="text-white mb-4">Online Rezervasyon</h1>
                <p class="text-white mb-4">
                    Hayalinizdeki tura adım atmanın ilk adımı, kolay ve hızlı rezervasyon sürecimizle başlıyor! İster doğa yürüyüşleri, ister şehir turları arayın, size en uygun turu seçin ve yerinizi hemen ayırtın. Unutulmaz bir seyahate çıkmak için vakit kaybetmeyin, rezervasyonunuzu şimdi yapın ve maceranıza bir adım daha yaklaşın!
                </p>
                <p class="text-white mb-4">
                    Turlarımıza katılmak artık çok daha kolay! Online Rezervasyon sistemi ile istediğiniz turu, dilediğiniz zaman birkaç tıklama ile rezerve edebilirsiniz. Kolay, güvenli ve hızlı bir şekilde tatilinizi planlayın; sadece seyahatin tadını çıkarın. Size özel fırsatları kaçırmayın, online rezervasyonunuzu şimdi yapın!
                </p>
                <a href="#" class="btn btn-light text-primary rounded-pill py-3 px-5 mt-2">Daha Fazla</a>
            </div>
            <div class="col-lg-6">
                <h1 class="text-white mb-3">Tur Fırsatlarını Rezerve Et</h1>
               
                <form>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control bg-white border-0" id="name" placeholder="İsminiz">
                                <label for="name">İsminiz</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" class="form-control bg-white border-0" id="email" placeholder="Mail Adresiniz">
                                <label for="email">Mail Adresiniz</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating date" id="date3" data-target-input="nearest">
                                <input type="text" class="form-control bg-white border-0" id="datetime" placeholder="Saat & Tarih" data-target="#date3" data-toggle="datetimepicker" />
                                <label for="datetime">Saat & Tarih"</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <select class="form-select bg-white border-0" id="select1">
                                    <option value="1">Varış Noktası< 1</option>
                                    <option value="2">Varış Noktası< 2</option>
                                    <option value="3">Varış Noktası< 3</option>
                                </select>
                                <label for="select1">Varış Noktası</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <select class="form-select bg-white border-0" id="SelectPerson">
                                    <option value="1"> 1</option>
                                    <option value="2"> 2</option>
                                    <option value="3"> 3</option>
                                </select>
                                <label for="SelectPerson">Kişi Sayısı</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <select class="form-select bg-white border-0" id="CategoriesSelect">
                                    <option value="1">Kids</option>
                                    <option value="2">1</option>
                                    <option value="3">2</option>
                                    <option value="3">3</option>
                                </select>
                                <label for="CategoriesSelect">Kategori</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control bg-white border-0" placeholder="Özel İstek" id="message" style="height: 100px"></textarea>
                                <label for="message">Özel İstek</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary text-white w-100 py-3" type="submit">Şimdi Rezervasyon Yap</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Tour Booking End -->
