 <!-- Subscribe Start -->
<div class="container-fluid subscribe py-5">
    <div class="container text-center py-5">
        <div class="mx-auto text-center" style="max-width: 900px;">
            <h5 class="subscribe-title px-3">Bültenimize</h5>
            <h1 class="text-white mb-4">Abone Ol</h1>
            <p class="text-white mb-5">
                En güncel tur fırsatları, özel indirimler ve keşfetmeye değer yeni destinasyonlar hakkında ilk siz haberdar olun! Bültenimize Abone Ol seçeneği ile size özel teklifleri doğrudan e-posta kutunuza alabilir, hayalinizdeki tatil için ilham verici içeriklere erişebilirsiniz. Kaçırılmayacak fırsatları yakalamak için hemen abone olun!
            </p>
            <div class="position-relative mx-auto">
                <input class="form-control border-primary rounded-pill w-100 py-3 ps-4 pe-5" type="text" placeholder="Mail Adresiniz">
                <button type="button" class="btn btn-primary rounded-pill position-absolute top-0 end-0 py-2 px-4 mt-2 me-2">Abone Ol</button>
            </div>
        </div>
    </div>
</div>
<!-- Subscribe End -->