@model List<ResultGaleriDto>
<div class="container-fluid gallery py-5 my-5">
    <div class="mx-auto text-center mb-5" style="max-width: 900px;">
        <h5 class="section-title px-3">Galerimiz</h5>
        <h1 class="mb-4">Turizm ve Seyahat Galerisi.</h1>
        <p class="mb-0">
            Dünyanın dört bir yanındaki en güzel destinasyonları ve eşsiz seyahat anılarını Turizm ve Seyahat Galerisi'nde keşfedin. Sizler için özenle derlediğimiz bu galeri, doğa harikalarından tarihi mekanlara, kültürel keşiflerden macera dolu anlara kadar pek çok farklı deneyimi gözler önüne seriyor. Geçmiş turlarımızdan ilham alın, yeni rotalar keşfedin ve bir sonraki yolculuğunuz için heyecanlanın. Her bir fotoğraf, unutulmaz bir anının ve benzersiz bir keşfin kapılarını aralıyor!
        </p>
    </div>
    <div class="tab-class text-center">
      
        <div class="tab-content">
            <div id="GalleryTab-1" class="tab-pane fade show p-0 active">
                <div class="row g-2">
                    @foreach(var item in Model)
                    {
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                            <div class="gallery-item h-100">
                                <img src="@item.GaleriUrl" class="img-fluid w-100 h-100 rounded" alt="Image">
                                <div class="gallery-content">
                                    <div class="gallery-info">
                                        <h5 class="text-white text-uppercase mb-2">World Tour</h5>
                                        <a href="#" class="btn-hover text-white">View All Place <i class="fa fa-arrow-right ms-2"></i></a>
                                    </div>
                                </div>
                                <div class="gallery-plus-icon">
                                    <a href="@item.GaleriUrl" data-lightbox="gallery-1" class="my-auto"><i class="fas fa-plus fa-2x text-white"></i></a>
                                </div>
                            </div>
                        </div>
                    }
                  
                 
                </div>
            </div>
           
        </div>
    </div>
</div>
<!-- Gallery End -->