
<div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="~/AdminLTE-3.0.4/dist/img/resim.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="#" class="d-block">Tuba BALKAN</a>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
          
            <li class="nav-item">
                <a href="/AdminDashboard/Index/" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Dashboard
                    </p>
                </a>
            </li>
           
        
           
            <li class="nav-item">
                <a href="/AdminCategory/Index/" class="nav-link">
                    <i class="nav-icon fas fa-list-alt"></i>
                    <p>
                        Tur Kategorileri
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/AdminTur/Index/" class="nav-link">
                    <i class="nav-icon fas fa-route"></i>
                    <p>
                        Turlar
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/AdminMesaj/Index/" class="nav-link">
                    <i class="nav-icon far fa-envelope"></i>
                    <p>
                        Mesajlar
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/Index/" class="nav-link">
                    <i class="nav-icon fas fa-user"></i>
                    <p>
                        Admin
                    </p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>